{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <h1>This is the app - Find Sum</h1>
    <img src="{% static 'logo.png' %}" style="height: 200px; width: 200px;">
    <br><br>
    <input id="user_name" placeholder="Enter your name" value="Sai Nilayam Sahu">
    <br><br>
    <input id="first_number" placeholder="Enter your first number" value="1">
    <br><br>
    <input id="last_number" placeholder="Enter your last number" value="2">
    <br><br>
    <button onclick="set_data_to_database()">Set data to the database</button>
    <br><br>
    <input placeholder="Enter the name for whom you wanna get the sum of" style="width: 400px;">
    <br><br>
    <button>Get sum</button>
    <br><br>
    <textarea id="get_the_response" style="height: 100px; width: 200px;">Any response text of an ajax call will be shown here.</textarea>
    <br><br>
</body>

</html>

<script>
    function set_data_to_database() {
        user_name = document.getElementById("user_name").value 
        first_number = document.getElementById("first_number").value
        last_number = document.getElementById("last_number").value
        alert(user_name + ', ' + first_number + ', ' + last_number + ' are going to be sent to the server. Click OK to complete the action.')
        
        xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("get_the_response").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", "find_sum/process_insert_to_database", true)
        // This following line is very very important.
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        
        // Creating the required json
        data_to_send = {
            "user_name":user_name,
            "first_number":first_number,
            "last_number": last_number
        }
        text_to_send = JSON.stringify(data_to_send)

        xhttp.send('Text=' + text_to_send)
        alert("This process completed.")
    }
</script>